{% extends 'base.html' %}
{% load static %}

{% block head %}
<title> Registration Page </title>
{% endblock %}

{% block body %}
<div id="space" class="p-5 border bg-light">
    <form method="post" action="{% url 'register' %}">{% csrf_token %}
        <div class="form-floating">
            <input type="text" class="w-25 form-control" id="floatingInput" name="username" placeholder="Username"><br>
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="text" class="w-25 form-control" id="floatingInput" name="first_name"
                placeholder="First Name"><br>
            <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="w-25 form-control" id="floatingInput" name="last_name"
                placeholder="Last Name"><br>
            <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="w-25 form-control" id="floatingInput" name="email"
                placeholder="Email Address"><br>
            <label for="floatingInput">Email Address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="w-25 form-control" id="floatingPassword" name="password1"
                placeholder="Password"><br>
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="w-25 form-control" id="floatingPassword" name="password2"
                placeholder="Password again"><br>
            <label for="floatingPassword">Password again</label>
        </div>
        <button class="w-25 btn btn-lg btn-light border-dark" type="submit" value="Register">Register</button>
    </form>
    <br>
    <a class="btn btn-light border-dark" href={% url 'login' %} role="button">Log in</a>
    {% if message %}
    {{message}}
    {% endif %}
</div>
{% endblock %}