{% extends 'base-annotate.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block head %}
    <title> Annotate Page </title>
    <link rel="stylesheet" href="{% static 'annotate.css' %}">
    <script type="text/javascript" src="{% static 'annotate.js' %}"></script>
    
    <!-- autocomplete -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

{% endblock %}

{% block body %}
    {% if message|length != 0 %}
        {{message}}
    {% else %}
        {% if sentence.sent_id|length == 0 %}
            There is no sentence with that ID.
        {% else %}
            <p id="sentence.sent_id" hidden>{{sentence.sent_id}}</p>
            <p id="sentence.text" hidden>{{sentence.text}}</p>
            <p id="annotation.cats" hidden>{{cats}}</p>
            <p id="annotation.notes" hidden>{{annotation.notes}}</p>
            <p id="annotation.status" hidden>{{annotation.status}}</p>
            <p id="graph_preference" hidden>{{graph_preference}}</p>
            <p id="errors" hidden>{{errors}}</p>
            <p id="error_condition" hidden>{{error_condition}}</p>
            <p id="current_columns" hidden>{{current_columns}}</p>

            <div id="buttons"></div>
            <nav id="table1" class="navbar sticky-top"></nav>
            <div id="status"></div>
            <div id="table2"></div>
            <div id="bottom-buttons"></div>
            <div id="graph"></div>
            <div id="error"></div>
            {% csrf_token %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra %}

<span hidden>
    {% bs_icon 'arrow-left' %}
    {% bs_icon 'arrow-right' %}
    {% bs_icon 'backspace' %}
    {% bs_icon 'backspace-fill' %}
    {% bs_icon 'backspace-reverse' %}
    {% bs_icon 'arrow-clockwise' %}
    {% bs_icon 'arrow-counterclockwise' %}
    {% bs_icon 'exclamation-square' %}
    {% bs_icon 'exclamation-square-fill' %}
    {% bs_icon 'info' %}
    {% bs_icon 'save' %}
    {% bs_icon 'x' %}
</span>

<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-l">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Usage Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Keyboard Shortcuts:</h5>
                <p>Shift + arrows: moving through annotation cells</p>
                <p>Shift + option + down arrow: lemma split</p>
                <p>Shift + option + up arrow: row removal</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
