{% extends 'base-annotate.html' %}
{% load static %}

{% block head %}
    <title> Annotate Page </title>
    <link rel="stylesheet" href="{% static 'annotate.css' %}">
    <script type="text/javascript" src="{% static 'annotate.js' %}"></script>

    <!-- conllu.js -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui-redmond.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-vis.css' %}">
    <script type="text/javascript" src="{% static 'lib/ext/head.load.min.js' %}"></script>
    <!-- conllu.js -->
{% endblock %}

{% block body %}
    {% if message|length != 0 %}
        {{message}}
    {% else %}
        {% if sentence.sent_id|length == 0 %}
            There is no sentence with that ID.
        {% else %}
            <p id="sentence.sent_id" hidden="true">{{sentence.sent_id}}</p>
            <p id="sentence.text" hidden="true">{{sentence.text}}</p>
            <p id="annotation.cats" hidden="true">{{cats}}</p>
            <p id="annotation.notes" hidden="true">{{annotation.notes}}</p>
            <p id="graph_preference" hidden="true">{{graph_preference}}</p>
            <p id="errors" hidden="true">{{errors}}</p>
            
            {% csrf_token %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block conllu-js %}
<!-- conllu.js -->
<script type="text/javascript">
    head.js(
        // External libraries
        '{% static 'lib/ext/jquery.min.js' %}',
        '{% static 'lib/ext/jquery.svg.min.js' %}',
        '{% static 'lib/ext/jquery.svgdom.min.js' %}',
        '{% static 'lib/ext/jquery-ui.min.js' %}',
        '{% static 'lib/ext/waypoints.min.js' %}',

        // brat helper modules
        '{% static 'lib/brat/configuration.js' %}',
        '{% static 'lib/brat/util.js' %}',
        '{% static 'lib/brat/annotation_log.js' %}',
        '{% static 'lib/ext/webfont.js' %}',
        // brat modules
        '{% static 'lib/brat/dispatcher.js' %}',
        '{% static 'lib/brat/url_monitor.js' %}',
        '{% static 'lib/brat/visualizer.js' %}',

        // annotation documentation support
        'http://spyysalo.github.io/annodoc/lib/local/annodoc.js',
        '{% static 'lib/local/config.js' %}',

        // the conllu.js library itself
        '{% static 'conllu.js' %}'
    );

    var webFontURLs = [
        '{% static 'static/fonts/PT_Sans-Caption-Web-Regular.ttf' %}',
        '{% static 'static/fonts/Liberation_Sans-Regular.ttf' %}'
    ];
</script>
<!-- conllu.js -->
{% endblock %}