{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Annotate Page </title>
    <link rel="stylesheet" href="{% static 'annotate.css' %}">
    <script type="text/javascript" src="{% static 'annotate.js' %}"></script>
{% endblock %}
    
{% block body %}
    {{k}}
    {% if message|length != 0 %}
        {{message}}
    {% else %}
        {% if sentence.sent_id|length == 0 %}
            There is no sentence with that ID.
        {% else %}
            <p id="sentence.sent_id" hidden="true">{{sentence.sent_id}}</p>
            <p id="sentence.text" hidden="true">{{sentence.text}}</p>
            <p id="annotation.cats" hidden="true">{{annotation.cats}}</p>
            <p id="annotation.notes" hidden="true">{{annotation.notes}}</p>
            <p id="errors" hidden="true">{{errors}}</p>
            
            {% csrf_token %}
            
            <!-- {{ dep_graph }} -->
        {% endif %}
    {% endif %}
{% endblock %}