{% extends 'base.html' %}

{% block title %}
    <title> Annotate Page </title>
    <link rel="stylesheet" href="{% static 'annotate.css' %}">
    <script type="text/javascript" src="{% static 'annotate.js' %}"></script>
{% endblock %}

{% block body %}
    {% if message|length != 0 %}
        {{message}}
    {% else %}
        {% if sentence.sent_id|length == 0 %}
            There is no sentence with that ID.
        {% else %}
            Annotate here.
        {% endif %}
    {% endif %}
{% endblock %}