{% extends 'base-nav.html' %}

{% block head %}
<title> My Annotations Page </title>
<script>
    window.onload = function () {
        let select = document.getElementById('select');
        select.addEventListener('change', function () {
            change_sentences();
        });
    };

    function change_sentences() {
        let type = select.options[select.selectedIndex].text;
        if (type == "All") type = "all";
        else if (type == "Annotated") type = "done";
        else if (type == "Half") type = "half";
        else if (type == "Not Annotated") type = "not";
        let url = `/api/my_annotations/?type=${type}`;

        $.get(url,
            function (data) {
                let ann_table = $('#annotation-table')[0];
                ann_table.hidden = false;
                let ann_body = $('#annotation-table')[0];
                $('#annotation-body').find('tr').remove();
                let keys = Object.keys(data);
                if (keys.length == 0) {
                    ann_table.hidden = true;
                    $('#result_info').remove();
                    let info = document.createElement('div');
                    info.id = "result_info";
                    info.innerHTML = "No result found."
                    $('#space')[0].append(info);
                }
                else $('#result_info').remove();
                for (let i = 0; i < keys.length; i++) {
                    let one_result = data[keys[i]];
                    let tr = document.createElement('tr');
                    let td = document.createElement('td');
                    td.innerHTML = one_result['text'];
                    tr.append(td);
                    td = document.createElement('td');
                    td.innerHTML = one_result['sent_id'];
                    tr.append(td);
                    td = document.createElement('td');
                    td.innerHTML = one_result['treebank_title'];
                    tr.append(td);
                    ann_body.append(tr);
                }
            }
        );
    }
</script>
{% endblock %}

{% block body %}
<div id="username" hidden="true">{{username}}</div>
<div id="space" class="p-5 border bg-light">
    <select id="select" class="w-25 form-select">
        <option disabled selected>Select type</option>
        <option id="all">All</option>
        <option id="annotated">Annotated</option>
        <option id="half">Half</option>
        <option id="not annotated">Not Annotated</option>
    </select><br>
    <div id="annotations">
        <table id="annotation-table" class="table table-bordered table-striped" hidden="true">
            <thead>
                <tr style="text-align: center;">
                    <th>text</th>
                    <th>sent_id</th>
                    <th>Treebank</th>
                </tr>
            </thead>
            <tbody id="annotation-body"></tbody>
        </table>
    </div>
</div>
{% endblock %}