{% extends 'base-nav.html' %}

{% block head %}
<title> Search Page </title>
<script>
    {% if queries %}
    window.onload = function () {
        let queries = JSON.parse($('#queries')[0].innerHTML);
        let keys = Object.keys(queries);
        let url = '/api/wordlines/?'
        for (let i = 0; i < keys.length; i++) {
            let type = queries[keys[i]]['type'];
            let input = queries[keys[i]]['input'];
            if (type == "Treebank title") {
                type_url = 'annotation__sentence__treebank__title';
            }
            else if (["sent_id", "text"].includes(type)) {
                type_url = `annotation__sentence__${type}`;
            }
            else {
                type_url = type.toLowerCase();
            }
            url += `${type_url}=${input}`;
            if (i != keys.length - 1) url += '&';
        }

        window.annotations = new Set();
        window.annotators = {};
        window.results = {};
        get_annotations(url);

        function get_annotations(url) {
            $.get(url,
                function (data) {
                    let results = data['results'];
                    for (let i = 0; i < results.length; i++) {
                        window.annotations.add(results[i]['annotation']);
                    }
                    if (data['next'] == null || window.annotations.size > 20) {
                        window.annotations = Array.from(window.annotations);
                        use_annotations(); // annotations are calculated; last return; stop condition
                        return;
                    }
                    get_annotations(data['next']);
                }
            );
        }

        function use_annotations() {
            let annotation_url = '/api/annotations/?id='
            let annotator_url = '/api/users/?id='
            let sentence_url = '/api/sentences/?id='
            for (let i = 0; i < window.annotations.length; i++) {
                window.results[window.annotations[i]] = {};
                $.get(annotation_url + window.annotations[i],
                    function (data) {
                        let annotator = data['results'][0]['annotator'];
                        if (window.annotators[annotator] == undefined) { // find annotator & add to dictionary
                            $.get(annotator_url + annotator,
                                function (data) {
                                    window.annotators[annotator] = data['results'][0]['username'];
                                    window.results[window.annotations[i]]['annotator'] = window.annotators[annotator];
                                }
                            );
                        }
                        let status = data['results'][0]['status'];
                        window.results[window.annotations[i]]['status'] = status;
                        let sentence_id = data['results'][0]['sentence'];
                        $.get(sentence_url + sentence_id,
                            function (data) {
                                let sent_id = data['results'][0]['sent_id'];
                                window.results[window.annotations[i]]['sent_id'] = sent_id;
                                let text = data['results'][0]['text'];
                                window.results[window.annotations[i]]['text'] = text;
                                create_row(window.results[window.annotations[i]]);
                                $('#result').append(button);
                            }
                        );
                    }
                );
            }
        }

        let button = document.createElement('button');
        button.type = "button";
        button.className = "btn btn-light border";
        button.innerHTML = "Go back to search";
        button.addEventListener('click', function () {
            window.location.replace('/search/');
        });
        $('#result').append(button);

        function create_row(result) {
            $('#result-table')[0].hidden = false;
            let row = document.createElement("tr");
            let row_order = $('.tr').length + 1;
            row.id = row_order;
            row.className = "border";
            let fields = ["text", "sent_id", "annotator", "status"];
            for (let i = 0; i < fields.length; i++) {
                let data = document.createElement("td");
                data.innerHTML = result[fields[i]];
                data.style = 'text-align:center';
                row.append(data);
            }
            $('#result-body')[0].append(row);
        }
    };
    {% endif %}

    {% if not queries %}
    window.onload = function () {
        create_row();
    };

    function create_row() {
        let row_order = $('.row').length + 1;
        let row = document.createElement('div');
        row.id = row_order;
        row.className = "row";

        // type_select
        let col = document.createElement('div');
        col.className = "col";
        let select = document.createElement('select');
        select.id = "query_type";
        select.className = "form-select";
        select.form = "query";
        select.name = `type_${row_order}`;
        let option = document.createElement('option');
        option.disabled = true;
        option.selected = true;
        option.innerHTML = "Field";
        select.append(option);
        let type_fields = ["sent_id", "text", "FORM", "LEMMA", "UPOS", "XPOS", "FEATS", "HEAD", "DEPREL", "DEPS", "MISC", "Treebank title"];
        for (let i = 0; i < type_fields.length; i++) {
            option = document.createElement('option');
            option.innerHTML = type_fields[i];
            select.append(option);
        }
        col.append(select);
        row.append(col);

        // query_text
        col = document.createElement('div');
        col.className = "col";
        let input = document.createElement('input');
        input.type = "text";
        input.className = "form-control";
        input.placeholder = "Query";
        input.name = `input_${row_order}`;
        col.append(input);
        row.append(col);

        // plus_button
        $('#btn-plus').remove();
        col = document.createElement('div');
        col.className = "col";
        col.id = "btn-plus";
        let button = document.createElement('button');
        button.type = "button";
        button.className = "btn btn-light border";
        button.innerHTML = "+";
        button.addEventListener('click', function () {
            create_row();
        });
        col.append(button);
        row.append(col);
        row.append(document.createElement('br'));
        row.append(document.createElement('br'));
        $('#queries').append(row);
    }
    {% endif %}
</script>
{% endblock %}

{% block body %}
<div id="space" class="p-5 border bg-light">
    {% if not queries %}
    <form id="query" method="post" action="{% url 'search' %}" enctype="multipart/form-data">{% csrf_token %}
        <div id="queries">

        </div>
        <button class="w-25 btn btn-outline-success" type="submit" value="Search">Search</button>
    </form>
    {% endif %}

    {% if queries %}
    <div id="queries" hidden="true">{{queries}}</div>
    <div id="result">
        <table id="result-table" class="table table-bordered table-striped" hidden="true">
            <thead>
                <tr style="text-align: center;">
                    <th>text</th>
                    <th>sent_id</th>
                    <th>Annotator</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="result-body">
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if message %}
    {{message}}
    {% endif %}
</div>

{% endblock %}